body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background: #222;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

nav a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

section {
  padding: 40px;
}

.hero {
  background: #f4f4f4;
  text-align: center;
}
.profile-img {
  width: 150px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}